.item_details{
    padding: 1rem 0;
    min-height: 100vh;
}

.item_details .back{
    padding: .5rem;
    background:var(--dark);

    font-size: large;
    color: white;
    border:none;
    border-radius: 5px;
    margin-left: 2rem;
    cursor: pointer;
}



.item_details .main{
    display: grid;
    grid-template-columns: .1fr .5fr 1fr .1fr;
    place-items: center;
    place-content: center;
}
.item_details .main .left{
    grid-column: 2/3;
    
}
.item_details .main .right{
    grid-column: 3/4;
    width:100%;
    height: 100%;
    background: var(--primary-dark);
    border-radius: 15px;

    text-align: center;
    display: grid;
    place-items: center;
}

.item_details .main .name{
    font-size: 1.5rem;
}
.item_details .main img{
    --width : 15rem;
    width:var(--width);
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 50% 50%;
}


/* EDIT BUTTONS */
.item_details .e_btns {
    margin-top: 3rem;
    margin-left: 10%;
    display: flex;
    gap:1rem;
   
}

/* EDIT FORM */
.form{
    width:max-content;
    margin: 5% 10%;
    padding: 1rem;
    display: grid;
    place-items: left;
    background: var(--light);
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    border-radius: .5rem;
}
.form .formG{
    display: flex;
    align-items: baseline;
    gap:1rem;
    margin:1rem 0 ;
}
 
.form .list_links{
    padding: .2rem;
    width:max-content;
}
.form .list_links > h4{
    margin-bottom:-1.5rem;
}
.form .list_links .links{
    margin-top: -1rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    border-radius: .5rem;
   
     
}
.form .list_links .link{
    margin:.5rem;
    padding: .3rem;
    border-radius: 5px;
    background: var(--primary-dark); 
}
.form .list_links .link a{
    text-decoration: none;
    margin-right: .3rem; 
}
.form .list_links .link button{
    background: none;
    font-size: 1.2rem;
    border:none; 
}
 