.login{
    height:90vh;

    display: grid;
    place-items: center;
}
.login .form{
    padding:.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;

    width:min(20rem,90%);
    aspect-ratio: 1/1;

    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.login .form span{
    font-size: clamp(2rem, 5vw, 2rem);
}